GEMINI_API_KEY=...
GEMINI_MODEL_NAME=gemini-flash-lite-latest
ANTHROPIC_API_KEY=...
ANTHROPIC_MODEL_NAME=claude-haiku-4-5
OPENAI_API_KEY=...
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=...
LANGSMITH_PROJECT=smart-flight-assistant-entrega3
